.greeting-container {
  padding: 80px;
  background-color: cyan;
  margin: 30px;
  display: flex;
  justify-content: center;
  border-radius: 80px;
}

.greeting {
  color: black;
  font-size: 25px;
}

.marquee {
  font-size: 40px;
  font-weight: bold;
}

.input {
  margin: 20px;
  margin-left: 30px;
  border-radius: 20px;
  padding: 20px;
  width: 250px;
  border: 60px;
  background-color: cyan;
  font-size: 18px;
  color: black;
}

.input:focus {
  outline: none;
}
